.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100vh;
}

.autorization-window {
  border: 3px solid #2c3034;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 280px;
  height: 300px;
}

.authorization-title {
  font-weight: 600;
  font-size: 22px;
}

.authorizations-inputs {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 2px solid #2c3034;
  background: #f7f7f7;
  color: #212529;
  border-radius: 7px;
  outline: none;
  padding: 4px;
  text-align: center;
  font-weight: 600;
}

.password-input {
  border: 2px solid #2c3034;
  color: #212529;
  background: #f7f7f7;
  border-radius: 7px;
  margin-top: -70px;
  outline: none;
  padding: 4px;
  text-align: center;
  font-weight: 600;
}

.enter-btn {
  height: 12%;
  width: 100px;
  background-color: #218d25;
  border: 2px solid #2c3034;
  border-radius: 10px;
  padding: 3px 5px;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}