
.card {
  width: 80%;
  border: 3px solid #2c3034;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 4px 12px 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info {
  width: 400px;
  font-weight: 600;
}

.btn-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.delete-btn {
  height: 30px;
  width: 80px;
  margin-top: 15px;
  background-color: #dc3545;
  border: 2px solid #4a2c2e;
  border-radius: 10px;
  padding: 3px 5px;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.change-btn {
  height: 30px;
  width: 80px;
  background-color: #218d25;
  border: 2px solid #4a2c2e;
  border-radius: 10px;
  padding: 3px 5px;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.change-input {
  border: 2px solid #2c3034;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    border: 3px solid #2c3034;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 4px 12px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}